<div class="form-group">
    <form action="/task/addContent" method="post" enctype="multipart/form-data">
        <div class="col-3">
            <label class="form-label">Номер варианта</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="number" name="number" type="number" value="{{variant.number}}" required>
        </div>
        <div class="col-3">
            <label class="form-label">Файл</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="filePath" name="filePath" type="file">
        </div>
        {{!-- <div class="col-3">
            <label class="form-label">Ответ</label>
        </div> --}}
        {{!-- <div class="col-6">
            <input class="form-input" id="answer" name="answer" type="text">
        </div> --}}
    </form>
        {{#if subTasks}}
        <div id="subTasksEditTable">
            <table class="table answers-table" id="answers">
                <thead>
                    <tr>
                        <th>Текст вопроса</th>
                        <th>Ответ</th>
                        <th>Удалить</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each subTasks}}
                    <tr class="active">
                        <td>{{name}}</td>
                        <td>{{answer}}</td>
                        <td>
                            <form method="post" id="removeSubTaskForm{{@index}}" action="/task/removeSubTask">
                                <input type="hidden" name="id" value="{{@root.data.id}}">
                                <input type="hidden" name="subTaskId" value="{{id}}">
                                <input type="hidden" name="subTaskName" value="{{name}}">
                                <button class="btn btn-primary btn-action btn-lg" form="removeSubTaskForm{{@index}}">
                                    <i class="material-icons dp48">delete_forever</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <h4>Тем для варианта еще не добавлено</h4>
        {{/if}}
        <input type="hidden" name="id" value="{{id}}">

        <form action="/task/{{data.id}}/addVariant" method="post" class="edit-form">
            <div class="row">
                <button class="btn btn-success publish-task-btn col s2">Добавить тему</button>
            </div>
        </form>

        <button class="btn btn-success publish-task-btn">Опубликовать вариант</button>

        {{!-- <form action="/task/{{data.id}}/addVariant" method="get" class="edit-form">
        <button class="btn btn-success publish-task-btn">Добавить вариант</button>
    </form> --}}
</div>