<div class="form-group">
    <form action="/task/edit" method="post" class="edit-form" enctype="multipart/form-data" id="editTaskForm">
        <div class="col-3">
            <label class="form-label">Название работы</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="name" name="name" type="text" required value="{{data.name}}">
        </div>
        <div class="col-3">
            <label class="form-label">Файл</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="filePath" name="filePath" type="file" value="{{data.filePath}}">
        </div>

        <input type="hidden" name="id" value="{{data.id}}">
    </form>
    <div class="col-6">
        {{#if data.content.subTasks}}
        <div id="subTasksEditTable">
            <table class="table answers-table" id="answers">
                <thead>
                    <tr>
                        <th>Текст вопроса</th>
                        <th>Ответ</th>
                        <th>Удалить</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data.content.subTasks}}
                    <tr class="active">
                        <td>{{name}}</td>
                        <td>{{answer}}</td>
                        <td>
                            <form method="post" id="removeSubTaskForm{{@index}}" action="/task/removeSubTask">
                                <input type="hidden" name="id" value="{{@root.data.id}}">
                                <input type="hidden" name="subTaskId" value="{{id}}">
                                <input type="hidden" name="subTaskName" value="{{name}}">
                                <button class="btn btn-primary btn-action btn-lg" form="removeSubTaskForm{{@index}}">
                                    <i class="material-icons dp48">delete_forever</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <h3>Тем для работы еще не добавлено</h3>
        {{/if}}
    </div>

    <button class="btn btn-success publish-task-btn" form="editTaskForm">Опубликовать работу</button>


    <form action="/task/{{data.id}}/addContent" method="get" class="edit-form">
        {{!-- <input type="hidden" name="id" value="{{data.id}}"> --}}
        <button class="btn btn-success publish-task-btn">Добавить тему</button>
    </form>

    <form action="../../task/remove" method="post" class="edit-form">
        <input type="hidden" name="id" value="{{data.id}}">
        <button class="btn btn-success publish-task-btn">Удалить работу</button>
    </form>
</div>