<div class="form-group">
    <form action="../addVariant" method="post" enctype="multipart/form-data" name="addVariantForm">
        <div class="col-3">
            <label class="form-label">Номер варианта</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="number" name="number" type="number" value="{{variant.number}}" required>
        </div>
        <div class="col-3">
            <label class="form-label">Файл</label>
        </div>
        <div class="col-6">
            <input class="form-input" id="filePath" name="filePath" type="file">
        </div>
    </form>
        {{#if variant.subTasks}}
        <div id="subTasksEditTable">
            <table class="table answers-table" id="answers">
                <thead>
                    <tr>
                        <th>Текст вопроса</th>
                        <th>Ответ</th>
                        <th>Удалить</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each variant.subTasks}}
                    <tr class="active">
                        <td>{{name}}</td>
                        <td>{{answer}}</td>
                        <td>
                            <form method="post" id="removeSubTaskForm{{@index}}" action="/task/removeSubTask">
                                <input type="hidden" name="id" value="{{@root.id}}">
                                <input type="hidden" name="subTaskId" value="{{_id}}">
                                <input type="hidden" name="variantId" value="{{@root.variant.id}}">
                                <button class="btn btn-primary btn-action btn-lg" form="removeSubTaskForm{{@index}}">
                                    <i class="material-icons dp48">delete_forever</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <h4>Тем для варианта еще не добавлено</h4>
        {{/if}}
        <input type="hidden" name="id" value="{{id}}">

        <form action="/task/{{id}}/{{variant.number}}/addSubTask" method="get" class="edit-form">
            <div class="row">
                <button class="btn btn-success publish-task-btn col s3">Добавить тему</button>
            </div>
        </form>

        <button class="btn btn-success publish-task-btn col s3" form="addVariantForm">Опубликовать вариант</button>

        {{!-- <form action="/task/{{data.id}}/addVariant" method="get" class="edit-form">
        <button class="btn btn-success publish-task-btn">Добавить вариант</button>
    </form> --}}
</div>