<h1>Добро пожаловать</h1>

<p>Сайт в разработке</p>

{{#each tasks}}
<div class="row">
    <div class="col s12 m6">
        <div class="card darken-1">
            <div class="card-content">
                <span class="card-title">{{name}}</span>
                {{#if variants}}
                <p>Список вариантов</p>
                <hr>
                <ul class="collection">
                    {{#each variants}}
                    <li class="collection-item">{{number}}</li>
                    {{/each}}
                </ul>
                {{else}}
                <hr>
                <p>Тем для работы еще не добавлено</p>
                {{/if}}
            </div>
            <div class="card-action course-task">
                {{#if @root.isStudent}}
                <a href="/task/{{id}}/">
                    <button class="btn waves-effect waves-light">Открыть
                        <i class="material-icons right">send</i>
                    </button>
                </a>
                {{/if}}
                {{#if @root.isTeacher}}
                <a href="/task/{{id}}/edit/">
                    <button class="btn waves-effect waves-light">Редактировать</button>
                </a>
                {{/if}}
                {{#if @root.isAdmin}}
                <a href="/task/{{id}}/">
                    <button class="btn waves-effect waves-light">Открыть
                        <i class="material-icons right">send</i>
                    </button>
                </a>
                <a href="/task/{{id}}/edit/">
                    <button class="btn waves-effect waves-light">Редактировать</button>
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}