<h1>{{subTaks.name}}</h1>
<h2>Успехов с выполнением задания</h2>

<div>
    {{#if subTask.filePath}}
    <p>Прикрепленный файл: <a href="/{{subTask.filePath}}" download="{{subTask.name}}">{{fileName}}</a></p>
    {{else}}
    <p>Файл для работы не был добавлен</p>
    {{/if}}
</div>

<div>
    <h5>Текст задачи</h5>
    <p>{{subTask.taskText}}</p>
</div>

{{#if asks}}
<div id="answersEditTable">
    <table class="table answers-table" id="answers">
        <thead>
            <tr>
                <th>Вопрос</th>
                <th>Таблица</th>
                <th>Добавить ответ</th>
            </tr>
        </thead>

        <tbody>
            {{#each asks}}
            <tr class="active">
                <td>{{askText}}</td>
                {{#if isTable}}
                <td><i class="material-icons dp48">check</i></td>
                {{else}}
                <td><i class="material-icons dp48">close</i></td>
                {{/if}}
                <td><a href="/answer/{{_id}}/"><button class="btn waves-effect waves-light">Открыть вопрос</button></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<h4>Вопросов еще не добавлено</h4>
{{/if}}

<div class="back-button">
<a href="/task/{{taskId}}/{{variantNumber}}">
    <button class="btn waves-effect waves-light">Назад</button>
</a>
</div>