<h1>{{taks.name}}</h1>
<h2>Успехов с выполнением задания</h2>

<div>
    {{#if task.filePath}}
    <p>Прикрепленный файл: <a href="/{{task.filePath}}" download="{{task.name}}">{{fileName}}</a></p>
    {{else}}
    <p>Файл для работы не был добавлен</p>
    {{/if}}
</div>

<<<<<<< HEAD
{{#if task.content.subTasks}}
<p>Список тем</p>
<hr>
<ul class="collection">
    {{#each task.content.subTasks}}
    <li class="collection-item"><a href="/task/{{@root.task.id}}/subTask/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>
{{else}}
<hr>
<p>Тем для работы еще не добавлено</p>
{{/if}}
=======
{{#if task.variants}}
<p>Список вариантов</p>
<hr>
{{#each task.variants}}
<div class="card variant-card col s12">
    <h4><a href="/task/{{@root/task.id}}/{{number}}/">Вариант {{number}}</a></h4>
    {{#if subTasks}}
    <p>Список тем</p>
    <hr>
    <ul class="collection">
        {{#each subTasks}}
        <li class="collection-item">{{name}}</li>
        {{/each}}
    </ul>
    {{else}}
    <p>Тем для варианта еще не добавлено</p>
    {{/if}}
</div>
{{/each}}
{{else}}
<hr>
<p>Вариантов с темами для работы еще не добавлено</p>
{{/if}}

<a href="/">
    <button class="btn waves-effect waves-light">Назад</button>
</a>
>>>>>>> role-model
