<h1>{{taks.name}}</h1>
<h2>Успехов с выполнением задания</h2>
{{#if task.filePath}}
<div>
    <p>Для более удобного просмотра вы можете <a href="../{{task.filePath}}" download="{{task.name}}">скачать</a>
        файл</p>

</div>
<embed src="../{{task.filePath}}" type="application/pdf" width="90%" height="800px" />
{{else}}
<p>Файл для работы не был добавлен</p>
{{/if}}

{{!-- {{#if task.content.subTasks}} --}}
{{#if task.variants}}
<p>Список вариантов</p>
<hr>
{{#each task.variants}}
<h4>Вариант {{number}}</h4>
<ul class="collection">
    {{#each subTasks}}
    <li class="collection-item"><a href="/task/{{@root.task.id}}/{{@root.task.variants}}/{{id}}">{{name}}</a></li>
    {{/each}}
</ul>
{{/each}}
{{else}}
<hr>
<p>Вариантов с темами для работы еще не добавлено</p>
{{/if}}