<div class="row">
    <div class="col s4">
        <label for="task">Работа</label>
        <h5 id="task">{{info.task}}</h5>
    </div>
    <div class="col s4">
        <label for="variant">Вариант</label>
        <h5 id="variant">{{info.variant}}</h5>
    </div>
    <div class="col s4">
        <label for="theme">Тема</label>
        <h5 id="theme">{{info.subTask}}</h5>
    </div>
</div>
<hr>
<div>
    <h5>Текст задания:</h5>
    <p>{{info.subTaskText}}</p>
</div>
<hr>
<table class="highlight result-table">
    {{#if answers}}
    <thead>
        <tr>
            <th>Имя</th>
            <th>Ответ</th>
            <th>Правильный ответ</th>
        </tr>
    </thead>
    <tbody>
        {{#each answers}}
        <tr>
            <td><a href="../watchByStudent/{{userId._id}}">{{userId.name}}</a></td>
            {{#if ask.isTable}}
            <td><a href="/journal/watchTable/{{_id}}">Посмотреть таблицу</a></td>
            <td>Заполнение таблицы</td>
            {{else}}
            <td>{{answer}}</td>
            <td>{{ask.rightAnswer}}</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
    {{else}}
    <h4>Никто еще не ответи по данной теме</h4>
    {{/if}}
</table>

<a href="/journal">
    <button class="btn waves-effect waves-light">Назад</button>
</a>