<div>
    <h5>Имя: {{user.name}}</h5>
    <h5>Email: {{user.email}}</h5>
</div>
<hr>

<table class="highlight result-table">
    <thead>
        <tr>
            <th>Работа</th>
            <th>Вариант</th>
            <th>Тема</th>
            <th>Ответ</th>
            <th>Правильный ответ</th>
        </tr>
    </thead>
    <tbody>
        {{#each answers}}
        <tr>
            <td>{{ask.taskId.name}}</td>
            <td>{{ask.variant.number}}</td>
            <td>{{ask.subTaskId.name}}</td>
            {{#if ask.isTable}}
            <td><a href="/journal/watchTable/{{_id}}">Посмотреть таблицу</a></td>
            <td>Заполнение таблицы</td>
            {{else}}
            <td>{{answer}}</td>
            <td>{{ask.rightAnswer}}</td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/journal">
    <button class="btn waves-effect waves-light">Назад</button>
</a>